:root {
  --text-shadow-color: #ff9c99;
  --text-main-color: #d74742;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: var(--text-main-color);
  font-family: "Rouge Script", cursive;
  font-size: 130px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px var(--text-shadow-color);
}

p {
  color: #ffffff;
  font-family: "Carme", sans-serif;
  font-size: 16px;
}

.container {
  margin: auto;
  max-width: 1048px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timer__wrapper {
  margin-top: 10px;
  color: #fff;
  background: #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.timer__display {
  padding-left: 1.5em;
  text-align: center;
}
.timer__display > p {
  font-size: 5em;
}

.button__wrapper {
  align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    width: 30vw;

}
ul{
  text-align: center;
}
.button {
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid white;
  padding: 1em;
  transition: ease-in-out 0.3s;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  transform: scale(110%);
}
.button:disabled {
  background-color: rgb(170, 164, 164);
}
.btn-start{
  background-color: #157347;
}
.btn-stop{
  background-color: #d74742;
}
.btn-reset{
  background-color:#FED900;
}
.btn-split{
  background-color: #8092FF;
}
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: white;
  vertical-align: top;
  border-color: #dee2e6;
  caption-side: bottom;
    border-collapse: collapse;
}
.table>thead {
  vertical-align: bottom;
}
.table>:not(:first-child) {
  border-top: 2px solid currentColor;
}
.table>tbody {
  vertical-align: inherit;
}
tbody, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
tbody {
  display: table-row-group;
  text-align: center;
}
@media only screen and (max-device-width: 1280px) {
  * {
    font-size: 0.9em;
  }
  h1 {
    font-size: 60px;
    line-height: 0px;
  }
  .button__wrapper {
    margin: auto;
    width: 100%;
  }
  .timer__display > p {
    font-size: 3.8em;
    padding-left: 0;
  }
}
